.body {
    margin: 0px;
    padding: 0px;
}

.main {
    padding: 16px;
}

.main_div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.recipe_title_in_list {
    color: rgb(0, 185, 28);
}

img {
    width: 200px;
    height: 200px
}

nav {
    padding: 16px;
    /* border-bottom: 5px solid black; */
    background-color: rgb(255,106,53);
}

nav a {
    color: aliceblue;
    margin-right: 15px;
}

h1 {
    color: green;
}

a {
    text-decoration: none;
}

footer {
    padding: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(0,236, 141)
}

/* css specific for detail recipe page */
.recipe_title {
    color: red;
}

tr:nth-child(even) {
    background-color: rgb(220, 220, 220);
}
